body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  width: 340px;
  border-radius: 0;
  border: 4px solid #555;
}

h2 {
  margin: 0;
}

.form-group,
.input-group {
  display: flex;
  margin-bottom: 10px;
  gap: 15px;
  align-items: center;
}

[type="text"] {
  font-size: 16px;
  padding: 6px 4px;
  border-radius: 4px;
  border: 1px solid #999;
}

.section {
  margin-top: 10px;
  padding-bottom: 10px;
}

.section > *:only-child {
  margin-bottom: 0;
} 

.btn-full {
  background-color: #005fa4;
  color: white;
  /* White text */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Padding */
  text-align: center;
  /* Center text */
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  /* Full width */
  border-radius: 2px;
}

.btn-outline {
  border: 1px solid #005fa4;
  color: #005fa4;
  background-color: transparent;
}

.strip-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: #005fa4;
  text-align: inherit;
  cursor: pointer;
}

.strip-button:hover {
  text-decoration: none;
}

.text-sm {
  font-size: 14px;
}

.text-light {
  color: #aaa;
}

.faux-link {
  color: #005fa4;
  text-decoration: underline;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-75 {
  gap: 75px;
}

.flex-1 {
  flex: 1;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.disable-select {
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[class*="section-"] {
  border-bottom: 1px solid #000;
  padding: 0 15px;
}

[class*="section-"]:first-of-type {
  border-top: 1px solid #000;
}

[class*='section-']:not(.expanded) > .section {
  display: none;
}

.section-top {
  border-bottom: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.section-footer {
  padding: 12px 15px;
}

.icon-heading-combo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.icon-heading-combo img {
  height: 22px;
}

[class*='section-'] h3 {
  cursor: pointer;
  line-height: 1;;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

[class*='section-'].expanded h3 img {
  transform: rotate(90deg);
}

.total-num {
  display: inline-block;
  padding: 5px 10px;
  background-color: lightgrey;
  color: #555;
  border-radius: 15px;
  font-weight: bold;
  font-size: 12.5px;
}

.total-num.zero {
  background-color: #eee;
  color: #aaa;
}